# RoadSafe Analytics: Road Accidents- Exploratory Data Analysis(EDA)

### Project Objective: To perform a in-depth Exploratory Data Analysis(EDA) of a large dataset of Accidents happened in US from 2016-2023 and draw meaningful insights from it like which factors have affected mostly to the likelihood of accidents in recent years and providing solutions to overcome accidents and so on.

### Expected Outcomes:-
### 1. Gain the ability to clean, preprocess, and understand real-world accident data effectively.

### 2. Explore accident patterns based on time, weather, road conditions, and severity using visual analysis.
 
### 3. Identify correlations, hotspots, and key risk factors through univariate, bivariate, and geospatial analysis.

### 4. Present meaningful insights with clear visualizations, documentation, and a final project presentation.

### Step 1: Setup - Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from scipy.stats import skew

sns.set_style('whitegrid')

### Step 2: Data Loading and Initial Inspection

In [2]:
roadsafe_df = pd.read_csv(r"F:\Roadsafe Analytics Project\us-accidents.csv", nrows=50000)
roadsafe_df.head()

,ID,Source,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,Source2,3,2016-02-08 05:46:00,2016-02-08 11:00:00,39.865147,-84.058723,NaN,NaN,0.01,...,False,False,False,False,False,False,Night,Night,Night,Night
1,A-2,Source2,2,2016-02-08 06:07:59,2016-02-08 06:37:59,39.928059,-82.831184,NaN,NaN,0.01,...,False,False,False,False,False,False,Night,Night,Night,Day
2,A-3,Source2,2,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,NaN,NaN,0.01,...,False,False,False,False,True,False,Night,Night,Day,Day
3,A-4,Source2,3,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,NaN,NaN,0.01,...,False,False,False,False,False,False,Night,Day,Day,Day
4,A-5,Source2,2,2016-02-08 07:39:07,2016-02-08 08:09:07,39.627781,-84.188354,NaN,NaN,0.01,...,False,False,False,False,True,False,Day,Day,Day,Day

In [3]:
roadsafe_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 46 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     50000 non-null  object
 1   Source                 50000 non-null  object
 2   Severity               50000 non-null  int64
 3   Start_Time             50000 non-null  object
 4   End_Time               50000 non-null  object
 5   Start_Lat              50000 non-null  float64
 6   Start_Lng              50000 non-null  float64
 7   End_Lat                0 non-null      float64
 8   End_Lng                0 non-null      float64
 9   Distance(mi)           50000 non-null  float64
 10  Description            50000 non-null  object
 11  Street                 50000 non-null  object
 12  City                   50000 non-null  object
 13  County                 50000 non-null  object
 14  State                  50000 non-null  object
 15  Zipcode                49993 non-null  object
 16  Country                50000 non-null  object
 17  Timezone               49993 non-null  object
 18  Airport_Code           49993 non-null  object
 19  Weather_Timestamp      49734 non-null  object
 20  Temperature(F)         49544 non-null  float64
 21  Wind_Chill(F)          2497 non-null   float64
 22  Humidity(%)            49361 non-null  float64
 23  Pressure(in)           49694 non-null  float64
 24  Visibility(mi)         49474 non-null  float64
 25  Wind_Direction         49733 non-null  object
 26  Wind_Speed(mph)        41578 non-null  float64
 27  Precipitation(in)      3276 non-null   float64
 28  Weather_Condition      49397 non-null  object
 29  Amenity                50000 non-null  bool
 30  Bump                   50000 non-null  bool
 31  Crossing               50000 non-null  bool
 32  Give_Way               50000 non-null  bool
 33  Junction               50000 non-null  bool
 34  No_Exit                50000 non-null  bool
 35  Railway                50000 non-null  bool
 36  Roundabout             50000 non-null  bool
 37  Station                50000 non-null  bool
 38  Stop                   50000 non-null  bool
 39  Traffic_Calming        50000 non-null  bool
 40  Traffic_Signal         50000 non-null  bool
 41  Turning_Loop           50000 non-null  bool
 42  Sunrise_Sunset         50000 non-null  object
 43  Civil_Twilight         50000 non-null  object
 44  Nautical_Twilight      50000 non-null  object
 45  Astronomical_Twilight  50000 non-null  object
dtypes: bool(13), float64(12), int64(1), object(20)
memory usage: 13.2+ MB

In [4]:
roadsafe_df.isnull().sum()

ID                           0
Source                       0
Severity                     0
Start_Time                   0
End_Time                     0
Start_Lat                    0
Start_Lng                    0
End_Lat                  50000
End_Lng                  50000
Distance(mi)                 0
Description                  0
Street                       0
City                         0
County                       0
State                        0
Zipcode                      7
Country                      0
Timezone                     7
Airport_Code                 7
Weather_Timestamp          266
Temperature(F)             456
Wind_Chill(F)            47503
Humidity(%)                639
Pressure(in)               306
Visibility(mi)             526
Wind_Direction             267
Wind_Speed(mph)           8422
Precipitation(in)        46724
Weather_Condition          603
Amenity                      0
Bump                         0
Crossing                     0
Give_Way                     0
Junction                     0
No_Exit                      0
Railway                      0
Roundabout                   0
Station                      0
Stop                         0
Traffic_Calming              0
Traffic_Signal               0
Turning_Loop                 0
Sunrise_Sunset               0
Civil_Twilight               0
Nautical_Twilight            0
Astronomical_Twilight        0
dtype: int64

In [5]:
print("Descriptive statistics:-")
roadsafe_df.describe()

Descriptive statistics:-

,Severity,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Temperature(F),Wind_Chill(F),Humidity(%),Pressure(in),Visibility(mi),Wind_Speed(mph),Precipitation(in)
count,50000.00000,50000.000000,50000.000000,0.0,0.0,50000.000000,49544.000000,2497.000000,49361.000000,49694.000000,49474.000000,41578.000000,3276.000000
mean,2.39678,37.396862,-120.736826,NaN,NaN,0.014660,64.975323,39.050541,61.719394,29.981206,9.384875,8.736789,0.026529
std,0.49225,1.553001,4.750326,NaN,NaN,0.354411,13.200795,14.914320,21.706796,0.195356,1.958316,4.475498,0.050507
min,1.00000,32.544304,-123.813927,NaN,NaN,0.000000,3.900000,-8.400000,4.000000,3.010000,0.100000,0.000000,0.000000
25%,2.00000,37.343647,-122.127098,NaN,NaN,0.000000,55.900000,33.400000,46.000000,29.900000,10.000000,5.800000,0.000000
50%,2.00000,37.776711,-121.828537,NaN,NaN,0.000000,64.400000,39.000000,63.000000,29.970000,10.000000,8.100000,0.010000
75%,3.00000,38.409191,-121.272102,NaN,NaN,0.010000,73.400000,42.500000,78.000000,30.070000,10.000000,11.500000,0.030000
max,4.00000,41.428753,-81.550728,NaN,NaN,51.130000,113.000000,101.000000,100.000000,33.040000,80.000000,142.700000,0.550000

In [6]:
roadsafe_df['Street'].value_counts()

Street
I-80 W         1687
US-101 N       1561
I-80 E         1561
I-580 W        1184
I-880 N        1162
               ...
Messina Ave       1
Dubuque Ave       1
Vermeer Dr        1
Horner Ave        1
Clavel Ave        1
Name: count, Length: 6257, dtype: int64

In [7]:
roadsafe_df['Start_Time']

0        2016-02-08 05:46:00
1        2016-02-08 06:07:59
2        2016-02-08 06:49:27
3        2016-02-08 07:23:34
4        2016-02-08 07:39:07
                ...
49995    2016-07-20 09:25:59
49996    2016-07-20 09:50:32
49997    2016-07-20 09:27:03
49998    2016-07-20 09:50:59
49999    2016-07-20 09:52:44
Name: Start_Time, Length: 50000, dtype: object

### Step 3: Data Cleaning and Preprocessing

In [8]:
# Dropping columns with excessive null values
cols = ['End_Lat','End_Lng','Wind_Chill(F)','Precipitation(in)']

roadsafe_df.drop(cols,axis=1,inplace=True)

In [9]:
print("Dataset after removing irrelevant columns:-")
roadsafe_df.head()

Dataset after removing irrelevant columns:-

,ID,Source,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,Distance(mi),Description,Street,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,Source2,3,2016-02-08 05:46:00,2016-02-08 11:00:00,39.865147,-84.058723,0.01,Right lane blocked due to accident on I-70 Eas...,I-70 E,...,False,False,False,False,False,False,Night,Night,Night,Night
1,A-2,Source2,2,2016-02-08 06:07:59,2016-02-08 06:37:59,39.928059,-82.831184,0.01,Accident on Brice Rd at Tussing Rd. Expect del...,Brice Rd,...,False,False,False,False,False,False,Night,Night,Night,Day
2,A-3,Source2,2,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,0.01,Accident on OH-32 State Route 32 Westbound at ...,State Route 32,...,False,False,False,False,True,False,Night,Night,Day,Day
3,A-4,Source2,3,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,0.01,Accident on I-75 Southbound at Exits 52 52B US...,I-75 S,...,False,False,False,False,False,False,Night,Day,Day,Day
4,A-5,Source2,2,2016-02-08 07:39:07,2016-02-08 08:09:07,39.627781,-84.188354,0.01,Accident on McEwen Rd at OH-725 Miamisburg Cen...,Miamisburg Centerville Rd,...,False,False,False,False,True,False,Day,Day,Day,Day

In [10]:
roadsafe_df.describe()

,Severity,Start_Lat,Start_Lng,Distance(mi),Temperature(F),Humidity(%),Pressure(in),Visibility(mi),Wind_Speed(mph)
count,50000.00000,50000.000000,50000.000000,50000.000000,49544.000000,49361.000000,49694.000000,49474.000000,41578.000000
mean,2.39678,37.396862,-120.736826,0.014660,64.975323,61.719394,29.981206,9.384875,8.736789
std,0.49225,1.553001,4.750326,0.354411,13.200795,21.706796,0.195356,1.958316,4.475498
min,1.00000,32.544304,-123.813927,0.000000,3.900000,4.000000,3.010000,0.100000,0.000000
25%,2.00000,37.343647,-122.127098,0.000000,55.900000,46.000000,29.900000,10.000000,5.800000
50%,2.00000,37.776711,-121.828537,0.000000,64.400000,63.000000,29.970000,10.000000,8.100000
75%,3.00000,38.409191,-121.272102,0.010000,73.400000,78.000000,30.070000,10.000000,11.500000
max,4.00000,41.428753,-81.550728,51.130000,113.000000,100.000000,33.040000,80.000000,142.700000

In [11]:
roadsafe_df.isna().sum()

ID                          0
Source                      0
Severity                    0
Start_Time                  0
End_Time                    0
Start_Lat                   0
Start_Lng                   0
Distance(mi)                0
Description                 0
Street                      0
City                        0
County                      0
State                       0
Zipcode                     7
Country                     0
Timezone                    7
Airport_Code                7
Weather_Timestamp         266
Temperature(F)            456
Humidity(%)               639
Pressure(in)              306
Visibility(mi)            526
Wind_Direction            267
Wind_Speed(mph)          8422
Weather_Condition         603
Amenity                     0
Bump                        0
Crossing                    0
Give_Way                    0
Junction                    0
No_Exit                     0
Railway                     0
Roundabout                  0
Station                     0
Stop                        0
Traffic_Calming             0
Traffic_Signal              0
Turning_Loop                0
Sunrise_Sunset              0
Civil_Twilight              0
Nautical_Twilight           0
Astronomical_Twilight       0
dtype: int64

In [12]:
roadsafe_df['Weather_Timestamp']

0        2016-02-08 05:58:00
1        2016-02-08 05:51:00
2        2016-02-08 06:56:00
3        2016-02-08 07:38:00
4        2016-02-08 07:53:00
                ...
49995    2016-07-20 09:51:00
49996    2016-07-20 09:53:00
49997    2016-07-20 09:53:00
49998    2016-07-20 09:45:00
49999    2016-07-20 09:45:00
Name: Weather_Timestamp, Length: 50000, dtype: object

In [13]:
roadsafe_df['Start_Time'] = pd.to_datetime(roadsafe_df['Start_Time'], errors='coerce')
roadsafe_df['End_Time'] = pd.to_datetime(roadsafe_df['End_Time'], errors='coerce')
roadsafe_df['Weather_Timestamp'] = pd.to_datetime(roadsafe_df['Weather_Timestamp'], errors='coerce')

In [14]:
roadsafe_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 42 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     50000 non-null  object
 1   Source                 50000 non-null  object
 2   Severity               50000 non-null  int64
 3   Start_Time             50000 non-null  datetime64[ns]
 4   End_Time               50000 non-null  datetime64[ns]
 5   Start_Lat              50000 non-null  float64
 6   Start_Lng              50000 non-null  float64
 7   Distance(mi)           50000 non-null  float64
 8   Description            50000 non-null  object
 9   Street                 50000 non-null  object
 10  City                   50000 non-null  object
 11  County                 50000 non-null  object
 12  State                  50000 non-null  object
 13  Zipcode                49993 non-null  object
 14  Country                50000 non-null  object
 15  Timezone               49993 non-null  object
 16  Airport_Code           49993 non-null  object
 17  Weather_Timestamp      49734 non-null  datetime64[ns]
 18  Temperature(F)         49544 non-null  float64
 19  Humidity(%)            49361 non-null  float64
 20  Pressure(in)           49694 non-null  float64
 21  Visibility(mi)         49474 non-null  float64
 22  Wind_Direction         49733 non-null  object
 23  Wind_Speed(mph)        41578 non-null  float64
 24  Weather_Condition      49397 non-null  object
 25  Amenity                50000 non-null  bool
 26  Bump                   50000 non-null  bool
 27  Crossing               50000 non-null  bool
 28  Give_Way               50000 non-null  bool
 29  Junction               50000 non-null  bool
 30  No_Exit                50000 non-null  bool
 31  Railway                50000 non-null  bool
 32  Roundabout             50000 non-null  bool
 33  Station                50000 non-null  bool
 34  Stop                   50000 non-null  bool
 35  Traffic_Calming        50000 non-null  bool
 36  Traffic_Signal         50000 non-null  bool
 37  Turning_Loop           50000 non-null  bool
 38  Sunrise_Sunset         50000 non-null  object
 39  Civil_Twilight         50000 non-null  object
 40  Nautical_Twilight      50000 non-null  object
 41  Astronomical_Twilight  50000 non-null  object
dtypes: bool(13), datetime64[ns](3), float64(8), int64(1), object(17)
memory usage: 11.7+ MB

In [15]:
roadsafe_df.isnull().sum()

ID                          0
Source                      0
Severity                    0
Start_Time                  0
End_Time                    0
Start_Lat                   0
Start_Lng                   0
Distance(mi)                0
Description                 0
Street                      0
City                        0
County                      0
State                       0
Zipcode                     7
Country                     0
Timezone                    7
Airport_Code                7
Weather_Timestamp         266
Temperature(F)            456
Humidity(%)               639
Pressure(in)              306
Visibility(mi)            526
Wind_Direction            267
Wind_Speed(mph)          8422
Weather_Condition         603
Amenity                     0
Bump                        0
Crossing                    0
Give_Way                    0
Junction                    0
No_Exit                     0
Railway                     0
Roundabout                  0
Station                     0
Stop                        0
Traffic_Calming             0
Traffic_Signal              0
Turning_Loop                0
Sunrise_Sunset              0
Civil_Twilight              0
Nautical_Twilight           0
Astronomical_Twilight       0
dtype: int64

In [16]:
roadsafe_df['Wind_Speed(mph)'].dtype

dtype('float64')

In [17]:
roadsafe_df['Wind_Speed(mph)']

0        NaN
1        NaN
2        3.5
3        4.6
4        3.5
        ...
49995    NaN
49996    4.6
49997    NaN
49998    NaN
49999    NaN
Name: Wind_Speed(mph), Length: 50000, dtype: float64

In [18]:
median_speed=roadsafe_df['Wind_Speed(mph)'].median()
roadsafe_df['Wind_Speed(mph)']=roadsafe_df['Wind_Speed(mph)'].fillna(median_speed)

In [19]:
roadsafe_df=roadsafe_df.dropna(subset=['Temperature(F)','Humidity(%)','Pressure(in)','Visibility(mi)','Wind_Direction','Weather_Condition'])

In [20]:
print("Missing values after cleaning the dataset:-")
roadsafe_df.isnull().sum()

Missing values after cleaning the dataset:-

ID                       0
Source                   0
Severity                 0
Start_Time               0
End_Time                 0
Start_Lat                0
Start_Lng                0
Distance(mi)             0
Description              0
Street                   0
City                     0
County                   0
State                    0
Zipcode                  0
Country                  0
Timezone                 0
Airport_Code             0
Weather_Timestamp        0
Temperature(F)           0
Humidity(%)              0
Pressure(in)             0
Visibility(mi)           0
Wind_Direction           0
Wind_Speed(mph)          0
Weather_Condition        0
Amenity                  0
Bump                     0
Crossing                 0
Give_Way                 0
Junction                 0
No_Exit                  0
Railway                  0
Roundabout               0
Station                  0
Stop                     0
Traffic_Calming          0
Traffic_Signal           0
Turning_Loop             0
Sunrise_Sunset           0
Civil_Twilight           0
Nautical_Twilight        0
Astronomical_Twilight    0
dtype: int64

In [21]:
roadsafe_df.describe(include="O")

,ID,Source,Description,Street,City,County,State,Zipcode,Country,Timezone,Airport_Code,Wind_Direction,Weather_Condition,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
count,48957,48957,48957,48957,48957,48957,48957,48957,48957,48957,48957,48957,48957,48957,48957,48957,48957
unique,48957,2,35650,6158,724,70,3,7398,1,2,116,23,28,2,2,2,2
top,A-1,Source2,Accident on I-80 Westbound at Exits 8A 8B I-880.,I-80 W,Sacramento,Alameda,CA,94551,US,US/Pacific,KMCC,Calm,Clear,Day,Day,Day,Day
freq,1,48919,55,1657,5171,7461,48231,511,48957,48231,3501,7623,27854,32172,34064,36095,38074

In [22]:
roadsafe_df['Start_Time'].dt.hour

0        5
1        6
2        6
3        7
4        7
        ..
49995    9
49996    9
49997    9
49998    9
49999    9
Name: Start_Time, Length: 48957, dtype: int32